/*druk*/
@font-face {
  font-family: 'Druk XXCondensed';
  src: url("fonts/druk/Druk-XXCondSuper.otf"); }
@font-face {
  font-family: 'Druk XCondensed';
  src: url("fonts/druk/Druk-XCondSuper.otf"); }
@font-face {
  font-family: 'Druk Medium';
  src: url("fonts/druk/Druk-Medium.otf"); }
@font-face {
  font-family: 'Druk Bold';
  src: url("fonts/druk/Druk-Bold.otf"); }
@font-face {
  font-family: 'Druk Heavy';
  src: url("fonts/druk/Druk-Heavy.otf"); }
@font-face {
  font-family: 'Druk Super';
  src: url("fonts/druk/Druk-Super.otf"); }
@font-face {
  font-family: 'DrukText Medium';
  src: url("fonts/druk/DrukText-Medium.otf"); }
@font-face {
  font-family: 'DrukText Bold';
  src: url("fonts/druk/DrukText-Bold.otf"); }
@font-face {
  font-family: 'DrukText Heavy';
  src: url("fonts/druk/DrukText-Heavy.otf"); }
@font-face {
  font-family: 'DrukText Super';
  src: url("fonts/druk/DrukText-Super.otf"); }
@font-face {
  font-family: 'DrukTextWide Medium';
  src: url("fonts/druk/DrukTextWide-Medium.otf"); }
@font-face {
  font-family: 'DrukTextWide Bold';
  src: url("fonts/druk/DrukTextWide-Bold.otf"); }
@font-face {
  font-family: 'DrukTextWide Heavy';
  src: url("fonts/druk/DrukTextWide-Heavy.otf"); }
@font-face {
  font-family: 'DrukTextWide Super';
  src: url("fonts/druk/DrukTextWide-Super.otf"); }
@font-face {
  font-family: 'DrukWide Medium';
  src: url("fonts/druk/DrukWide-Medium.otf"); }
@font-face {
  font-family: 'DrukWide Bold';
  src: url("fonts/druk/DrukWide-Bold.otf"); }
@font-face {
  font-family: 'DrukWide Heavy';
  src: url("fonts/druk/DrukWide-Heavy.otf"); }
@font-face {
  font-family: 'DrukWide Super';
  src: url("fonts/druk/DrukWide-Super.otf"); }
/*neue haas grotesk*/
@font-face {
  font-family: 'Neue Haas Grotesk Thin';
  src: url("fonts/neue_haas_grotesk/NeueHaasGrotDisp-35Thin.otf"); }
@font-face {
  font-family: 'Neue Haas Grotesk Light';
  src: url("fonts/neue_haas_grotesk/NeueHaasGrotDisp-45Light.otf"); }
@font-face {
  font-family: 'Neue Haas Grotesk Roman';
  src: url("fonts/neue_haas_grotesk/NeueHaasGrotDisp-55Roman.otf"); }
@font-face {
  font-family: 'Neue Haas Grotesk Medium';
  src: url("fonts/neue_haas_grotesk/NeueHaasGrotDisp-65Medium.otf"); }
@font-face {
  font-family: 'Neue Haas Grotesk Bold';
  src: url("fonts/neue_haas_grotesk/NeueHaasGrotDisp-75Bold.otf"); }
@font-face {
  font-family: 'Neue Haas Grotesk Black';
  src: url("fonts/neue_haas_grotesk/NeueHaasGrotDisp-95Black.otf"); }
@font-face {
  font-family: 'Neue Haas Grotesk Black Italic';
  src: url("fonts/neue_haas_grotesk/NeueHaasGrotDisp-96BlackItalic.otf"); }
/* helvetica neue */
@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url("fonts/helvetica_neue/HelveticaNeueLTPro-Md.otf"); }
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url("fonts/helvetica_neue/HelveticaNeueLTPro-Bd.otf"); }
@font-face {
  font-family: 'Helvetica Neue Bold Outline';
  src: url("fonts/helvetica_neue/HelveticaNeueLTPro-BdOu.otf"); }
@font-face {
  font-family: 'Helvetica Neue Heavy Extended';
  src: url("fonts/helvetica_neue/HelveticaNeueLTPro-HvEx.otf"); }
@font-face {
  font-family: 'Helvetica Neue Heavy Condensed';
  src: url("fonts/helvetica_neue/HelveticaNeueLTPro-HvCn.otf"); }
@keyframes padding_left {
  0% {
    padding-left: 10px; }
  100% {
    padding-left: 500px; } }
@keyframes padding_right {
  0% {
    padding-right: 10px; }
  100% {
    padding-right: 500px; } }
@keyframes padding_top {
  0% {
    padding-top: 10px; }
  100% {
    padding-top: 500px; } }
@keyframes padding_bottom {
  0% {
    padding-bottom: 10px; }
  100% {
    padding-bottom: 500px; } }
@keyframes stretch_h {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(2, 1); } }
@keyframes stretch_v {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1, 3); } }
@keyframes scale {
  0% {
    font-size: 5em; }
  100% {
    padding-bottom: 75em; } }
/*html {
    font-size: 8px;
}*/
.box {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  -webkit-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.62); }

.user_text {
  /*font-size: 200em;*/
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: 20000;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  word-break: normal;
  /*word-wrap: break-word;*/
  transition: all 1s;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /*vertical-align: top;*/
  /*text-align: justify;*/
  /*text-justify: inter-word;*/ }

.prueba {
  font-size: 200em;
  position: absolute;
  border: 1px solid black;
  width: 50%;
  height: 50%; }

/*.user_text:hover {
padding-left: 500px;
}

.move_right:hover {
padding-left: 500px;
}

.move_down:hover {
padding-top: 500px;
}*/
.hidden {
  display: none; }

::selection {
  color: black;
  background: transparent; }

#sliders {
  position: fixed;
  width: 9%;
  top: 5%;
  right: 2%;
  z-index: 500000000;
  opacity: 0;
  transition: all .5s;
  transition-delay: .1s; }

#sliders:hover {
  opacity: 1; }

.slider {
  width: 100%;
  margin-top: 0.5em; }

.slider_info {
  text-align: center;
  margin-bottom: 0.4em;
  background-color: transparent; }

.button {
  visibility: hidden;
  margin-top: 1.7em;
  margin-left: -0.55em;
  margin-right: 1em; }

#video_jazz {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  mix-blend-mode: multiply; }

/*#layer {
    display: none;
    position: absolute;
    z-index: 500000;
    width: 100%;
    height: 100%;
    background-color: blue;
    mix-blend-mode: multiply; 
}

#saxo {
    display: none;
    position: absolute;
    z-index: 50000;
}*/

/*# sourceMappingURL=main.css.map */
